# Node
node_modules/
**/node_modules/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environments
.env
.env.*

# Build outputs
.next/
dist/
coverage/
**/dist/
**/.next/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# App specifics
.vercel/
.playwright/
**/sql/*.sqlite

# Docker local config
.docker-local/

# Logs
logs/
*.log
README_PRIVATE.md